@model IEnumerable<WebAppTest.Models.Orders>

<h2>Список заказов</h2>

<a asp-action="Create" class="btn btn-primary mb-3">Создать заказ</a>

<table class="table">
    <thead>
    <tr>
        <th>Номер заказа</th>
        <th>Город отправителя</th>
        <th>Город получателя</th>
        <th>Вес (кг)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.Id</td>
            <td>@order.SenderCity</td>
            <td>@order.RecipientCity</td>
            <td>@order.CargoWeight</td>
            <td>
                <a asp-action="Details" asp-route-id="@order.Id">Просмотр</a>
            </td>
        </tr>
    }
    </tbody>
</table>